<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ3uxtXCD9ccKFb8KL596sEq-XvsOl-0A</string>
	<key>GCM_SENDER_ID</key>
	<string>183959035946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.psdDay8Firebase2</string>
	<key>PROJECT_ID</key>
	<string>psd-training</string>
	<key>STORAGE_BUCKET</key>
	<string>psd-training.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183959035946:ios:2ef1ebc2bc5eb82e2a2353</string>
</dict>
</plist>